/* FONT NETFLIX*/
@font-face {
  font-family: Netflix;
  src: url(./assets/font/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: Netflix2;
  src: url(./assets/font/BebasNeue-Regular.otf);
}

body {
  background-color: #141414 !important;
  width: 96%;
  margin-left: auto !important;
  margin-right: auto !important;
  font-family: Netflix;
  /* height: calc(100vh - 263px); */
}

body > header > nav > div:nth-child(1) > a > img {
  width: 80px;
}
main {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.genere {
  color: white !important;
  border-radius: 0 !important;
  background-color: black !important ;
  outline: none;
  border: 1px solid gray !important;
  transition: 120ms;
}

.bg-site {
  background-color: #141414;
}

.service-code {
  border: 1px solid gray;
}

.navbar-nav img {
  color: aliceblue;
  width: 40px;
  border: 1px solid gray;
}

/* tasto */
.ico-profile {
  position: relative;
  display: inline-block;
}

/* contenuto */
.ico-dropdown {
  width: 160px;
  display: none;
  position: absolute;
  bottom: -140px;
  left: -100px;
  z-index: 1;
}

.ico-dropdown a {
  backdrop-filter: blur(5px);
  display: block;
}

ul li {
  list-style: none;
  margin: 0;
  pad: 0;
}
.ico-dropdown a:hover {
  background-color: #ddd;
}

.ico-profile:hover .ico-dropdown {
  display: block;
}

.carousel-item div div div div > img {
  width: 200px;
}

.width-unset {
  width: unset !important;
}

div.carousel-item > img {
  width: 200px;
}

div.carousel-item.active > div > div > div {
  min-width: 310px;
}

img {
  transition: 250ms ease-in-out;
  box-sizing: border-box;
}

img:hover {
  transform: scale(1.05);
}
